# Ignore state, logs and contact files
**/state
**/*.log
**/*.xxc

# Config file
blockchain/relay/networks.json

# Binaries
blockchain/client/client
blockchain/relay/relay
http/client/client
http/server/server